.create-new-exam-modal {
  &__box-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $font-size-800;
    min-height: $font-size-550;
    text-align: center;
    background-color: $secondary-color;
    border: 1px solid $quaternary-color;
    border-radius: $font-size-10;
  }
        
      &__close-btn-container {
        position: absolute;
        top: $font-size-10; 
        right: $font-size-10;
      }
    
      &__title-container {
        padding: $font-size-40 $font-size-40 $font-size-10 $font-size-40;
        display: flex; 
        flex-direction: column;
        text-align: left;
      }
    
      &__text-fields {
        display: flex;
        align-items: center;
        flex-direction: column;    
      }
    
      &__title-text-field-container {
        text-align: left;
        margin-top: $font-size-20;
        margin-bottom: $font-size-30;
      }
    
      &__text-field-container {
        text-align: left;
      }
    
      &__btn-container {
        text-align: center;
        margin-top: $font-size-40;  
        margin-bottom: $font-size-10;
      }
    
      &__button {
        border-radius: $font-size-20 !important;
        width: $font-size-150;
        margin-bottom: $font-size-10 !important;
        text-transform: none !important;
        font-weight: bold !important;    
      }
    
      &__limit-time-text-field-container {
        display: flex;
        margin-bottom: $font-size-40;
      }
    
      &__checkbox-container {
        display: flex;
        align-items: center;
      }
    
      &__grade-container {
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 89%;
      }
    
      &__slider-container {
        margin-top: $font-size-10;
        width: 90%;
        align-self: center;
      }
    
      &__tabs-container {
        margin: $font-size-10  $font-size-30 $font-size-20 $font-size-30;
      
        .MuiTab-textColorPrimary {
            width: 50%;
            font-weight: bold;
            text-transform: capitalize;
            border-bottom: solid lightgray;
            color: black !important;
        }
    
        .Mui-selected {
            color: $green-color !important;
            border-bottom: solid $green-color !important;
        }
    
        .MuiTabs-indicator {
            background-color: $green-color !important;
        }
      }
    
      &__search-question-container {
        display: flex;
        width: 100%;
        margin-left: $font-size-90;
      }
    
      &__questions-container {
        display: flex;
        width: $font-size-700;
        margin-top: $font-size-20;
    
        .MuiList-root {
          border-radius: $font-size-10;
          border: $font-size-1 solid $primay-color;
          background-color: $secondary-color;
        }
    
        .MuiTypography-root {
          color: $primay-color;
        }
    
        .MuiDivider-root {
          margin-right: 72px;
        }
      }
    
      &__message-error-container {
        margin-right: auto;
        padding-left: $font-size-50;
        padding-top: $font-size-10;
      }

}

.time-limit-text-field {
    width: 445px !important;
    color: $primay-color !important;
  }
  
  .text-field {
    width: $font-size-450;
    color: $primay-color !important;
  }
    
  .title-text-field {
    width: 712px;
    color: $primay-color !important;
  }
    
  .text {
    font-size: $font-size-12 !important;
  }
  
  .grade-text {
    font-size: 1rem !important;
    color: $primay-color !important;
  }