@import '../../../../theme/variables';

.configuration-view {

  display: flex;
  justify-content: center;

  &__card {
    width: $font-size-800;
    min-height: $font-size-450;
    background-color: $white-color;
    border-radius: $font-size-20;
    text-align: left;
    margin-bottom: $font-size-40;
  }

  &__title-container {
    margin: $font-size-20;
  }

  &__textfield-container {
    margin: $font-size-20;

    .MuiFormControl-root {
      margin: 0px !important;
    }
  }

  &__text-field {
    width: $font-size-450;
  }

  &__togglebtn-container {
    margin: $font-size-20; 

    .MuiToggleButton-root {
      text-transform: capitalize;
      color: $black-color;
      width: 254px;
    }
  }

  &__students-config-container {
    margin: $font-size-20; 
  }

  &__config-students-button-container {
    margin: $font-size-10 0px;
  }

  &__config-students-button {
    text-transform: none !important;
    font-size: $font-size-14 !important;
    font-family: $font-family-primay !important;
  }

  &__course-snackbar-container {
    .MuiSnackbar-root {
      margin-left: 700px;
    }
  }
}

.title-text  {
  color: $black-color;
  padding-top: $font-size-5;
  padding-bottom: $font-size-4;
  font-weight: bold !important;
}

.subtitle-text  {
  color: $primay-color;
  padding-top: $font-size-5;
}
