// Font size
$font-size-8: 8px;
$font-size-10: 10px;
$font-size-11: 11px;
$font-size-12: 12px; 
$font-size-14: 14px;
$font-size-20: 20px;
$font-size-30: 30px;
$font-size-40: 40px;
$font-size-50: 50px;
$font-size-80: 80px;
$font-size-150: 150px;

// Colors
$primay-color: #4E35F2;
$secondary-color: #F2F2F2;

// Font family
$font-family-primay: "Montserrat";