@import '../../theme/variables';

.accountData {
  text-align: center;
  background-image: url('../../../assets/images/Background.jpeg');
  background-size: cover;
  min-height: 100vh;
  display: flex;
}

.accountData-container {
  background-color: $secondary-color;
  min-height: 100vh;
  width: 1110px;
}

.accountData-header-container {
   background-color: $tertiary-color; 
   height: $font-size-100;
   align-items: center;
   justify-content: center;
}

.accountData-left-body-container {
  width: $font-size-400;
  display: flex;
  flex-direction: column;    
  align-items: center;
}

.accountData-button-back-container {
  padding-left: $font-size-10;
  text-align: left;
}

.back-button {
  text-transform: none !important;
  font-size: $font-size-14 !important;
  font-family: $font-family-primay !important;
  color: $quaternary-color !important;
}

.body-title-container {
  margin: $font-size-30 $font-size-50;
  text-align: left;
}

.accountData-form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $font-size-12;
  align-items: center !important;
  justify-items: center;
}

.accountData-item-container {
  text-align: center;
  width: $font-size-450;
}

.text-field {
  width: $font-size-450;
  color: $primay-color !important;
}

.accountData-item-container-form-control {
  text-align: center;
  margin-top: $font-size-11;
  width: $font-size-450;
}

.menu-options {
  font-size: $font-size-14 !important;
  font-family: $font-family-primay !important;
  color: $primay-color !important;
}
  
.option-select {
  color: $primay-color !important;
  text-align: left;

  .MuiSelect-icon {
    display: none !important;
  }

  .MuiOutlinedInput-notchedOutline {
    border-color: $primay-color !important; 
  }

  .Mui-disabled {
    color: $primay-color !important;
    text-align: left;
    -webkit-text-fill-color: $primay-color !important;
  }
}

.accountData-uni-container {
  text-align: center;
  margin-top: $font-size-15;
  width: 1012px;
  margin-left: $font-size-50;
}

.accountData-profile-container {
  margin-top: $font-size-70;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.accountData-avatar-container {
  margin: $font-size-8;
}

.accountData-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $font-size-30;
}

.accountData-text-field-container {
  text-align: center;
  width: $font-size-350;
}

.login-text-field {
  width: $font-size-350;
  color: $white-color !important;
}

.sign-off-button {
  border-radius: $font-size-20 !important;
  width: $font-size-200;
  margin-top: auto !important;
  margin-bottom: $font-size-40 !important;
  text-transform: none !important;
  font-weight: bold !important;
  color: $primay-color !important;
}
