@import '../../theme/variables';
@import './components/units/styles';
@import './components/deleteQuestionModal/styles';
@import './components/editUnitNameModal/styles';
@import './components/manageUnitModal/styles';
@import './components/questions/styles';
@import './components/manageSingleQuestionModal/styles';
@import './components/createBulkQuestionModal/styles';
@import './components/exams/styles';
@import './components/deleteExamModal/styles';
@import './components/deleteUnitModal/styles';
@import './components/manageExamModal/styles';
@import './components/configuration/styles';
@import './components/studentsManagementModal/styles';

.course {
  text-align: center;
  background-image: url('../../../assets/images/Background.jpeg');
  background-size: cover;
  min-height: 100vh;
}

.course-container {
  background-color: $secondary-color;
  min-height: 100vh;
  width: 1110px;
  margin-left: 332px;
}

.header-container {
  background-color: $tertiary-color; 
  height: $font-size-50;
  display: flex;
  justify-content: space-between;
}

.button-back-container {
  display: flex;
  justify-content: right;
  padding-left: $font-size-20;
}

.course-back-button {
  color: $secondary-color !important;
  text-transform: none !important;
  font-weight: 500 !important;
  font-size: $font-size-16 !important;
}
 
.user-info-container {
  display: flex;
 align-items: center;
 justify-content: right;
 margin-right: $font-size-20;
 padding-top: 2px;
}

.account-data-container {
  display: flex;
  align-items: center;
}
  
.avatar-container {
  margin: $font-size-8;
}

.title-container {
  margin-top: $font-size-30;
  margin-left: $font-size-50; 
  text-align: left;
}

.tabs-container {
  margin: $font-size-40;
  
  .MuiTab-textColorPrimary {
    width: 255px;
    font-weight: bold;
    text-transform: capitalize;
    border-bottom: solid lightgray;
    color: black !important;
  }

  .Mui-selected {
    color: $green-color !important;
    border-bottom: solid $green-color !important;
  }

  .MuiTabs-indicator {
    background-color: $green-color !important;
  }
}

.snackbar-container {
  .MuiSnackbar-root {
    margin-left: 700px;
  }
}